output=/

1.1=carved
2.3=carved_anticorners
1.2=carved_corners
2.2=carved_horizontal
1.3=carved_vertical

1.4=dark
2.6=dark_anticorners
1.5=dark_corners
2.5=dark_horizontal
1.6=dark_vertical

1.7=darkglass
2.9=darkglass_anticorners
1.8=darkglass_corners
2.8=darkglass_horizontal
1.9=darkglass_vertical

1.10=endsidian
2.12=endsidian_anticorners
1.11=endsidian_corners
2.11=endsidian_horizontal
1.12=endsidian_vertical

1.13=glass1
2.15=glass1_anticorners
1.14=glass1_corners
2.14=glass1_horizontal
1.15=glass1_vertical

3.1=glass2
4.3=glass2_anticorners
3.2=glass2_corners
4.2=glass2_horizontal
3.3=glass2_vertical

3.4=glass3
4.6=glass3_anticorners
3.5=glass3_corners
4.5=glass3_horizontal
3.6=glass3_vertical

3.7=glass4
4.9=glass4_anticorners
3.8=glass4_corners
4.8=glass4_horizontal
3.9=glass4_vertical

3.10=glass5
4.12=glass5_anticorners
3.11=glass5_corners
4.11=glass5_horizontal
3.12=glass5_vertical

3.13=glass6
4.15=glass6_anticorners
3.14=glass6_corners
4.14=glass6_horizontal
3.15=glass6_vertical

5.1=glass7
6.3=glass7_anticorners
5.2=glass7_corners
6.2=glass7_horizontal
5.3=glass7_vertical

5.4=glass8
6.6=glass8_anticorners
5.5=glass8_corners
6.5=glass8_horizontal
5.6=glass8_vertical

5.7=glass9
6.9=glass9_anticorners
5.8=glass9_corners
6.8=glass9_horizontal
5.9=glass9_vertical

5.10=gravel_brick
6.12=gravel_brick_anticorners
5.11=gravel_brick_corners
6.11=gravel_brick_horizontal
5.12=gravel_brick_vertical

5.13=gravel_road
6.15=gravel_road_anticorners
5.14=gravel_road_corners
6.14=gravel_road_horizontal
5.15=gravel_road_vertical

7.1=icystone
8.3=icystone_anticorners
7.2=icystone_corners
8.2=icystone_horizontal
7.3=icystone_vertical

7.4=singlestonebrick
8.6=singlestonebrick_anticorners
7.5=singlestonebrick_corners
8.5=singlestonebrick_horizontal
7.6=singlestonebrick_vertical

7.7=test
8.9=test_anticorners
7.8=test_corners
8.8=test_horizontal
7.9=test_vertical

7.10=uingot
8.12=uingot_anticorners
7.11=uingot_corners
8.11=uingot_horizontal
7.12=uingot_vertical
