output=/

2.1=dagger/diamond_dagger_effect
3.1=dagger/quartz_dagger_effect
4.1=dagger/beheading_dagger_effect
5.1=dagger/emerald_dagger_effect
6.1=dagger/lapis_dagger_effect
7.1=dagger/redstone_dagger_effect
8.1=dagger/reinforced_dagger_effect

2.2=rapier/diamond_rapier_effect
3.2=rapier/quartz_rapier_effect
4.2=rapier/beheading_rapier_effect
5.2=rapier/emerald_rapier_effect
6.2=rapier/lapis_rapier_effect
7.2=rapier/redstone_rapier_effect
8.2=rapier/reinforced_rapier_effect

2.3=broadsword/diamond_sword_effect
3.3=broadsword/quartz_sword_effect
4.3=broadsword/beheading_sword_effect
5.3=broadsword/emerald_sword_effect
6.3=broadsword/lapis_sword_effect
7.3=broadsword/redstone_sword_effect
8.3=broadsword/reinforced_sword_effect

2.4=longsword/diamond_longsword_effect
3.4=longsword/quartz_longsword_effect
4.4=longsword/beheading_longsword_effect
5.4=longsword/emerald_longsword_effect
6.4=longsword/lapis_longsword_effect
7.4=longsword/redstone_longsword_effect
8.4=longsword/reinforced_longsword_effect

2.5=cleaver/diamond_cleaver_effect
3.5=cleaver/quartz_cleaver_effect
4.5=cleaver/beheading_cleaver_effect
5.5=cleaver/emerald_cleaver_effect
6.5=cleaver/lapis_cleaver_effect
7.5=cleaver/redstone_cleaver_effect
8.5=cleaver/reinforced_cleaver_effect

2.6=shovel/diamond_shovel_effect
3.6=shovel/quartz_shovel_effect
4.6=shovel/beheading_shovel_effect
5.6=shovel/emerald_shovel_effect
6.6=shovel/lapis_shovel_effect
7.6=shovel/redstone_shovel_effect
8.6=shovel/reinforced_shovel_effect

2.7=excavator/diamond_excavator_effect
3.7=excavator/quartz_excavator_effect
4.7=excavator/beheading_excavator_effect
5.7=excavator/emerald_excavator_effect
6.7=excavator/lapis_excavator_effect
7.7=excavator/redstone_excavator_effect
8.7=excavator/reinforced_excavator_effect

2.8=pickaxe/diamond_pickaxe_effect
3.8=pickaxe/quartz_pickaxe_effect
4.8=pickaxe/beheading_pickaxe_effect
5.8=pickaxe/emerald_pickaxe_effect
6.8=pickaxe/lapis_pickaxe_effect
7.8=pickaxe/redstone_pickaxe_effect
8.8=pickaxe/reinforced_pickaxe_effect

2.9=hammer/diamond_hammer_effect
3.9=hammer/quartz_hammer_effect
4.9=hammer/beheading_hammer_effect
5.9=hammer/emerald_hammer_effect
6.9=hammer/lapis_hammer_effect
7.9=hammer/redstone_hammer_effect
8.9=hammer/reinforced_hammer_effect

2.10=axe/diamond_axe_effect
3.10=axe/quartz_axe_effect
4.10=axe/beheading_axe_effect
5.10=axe/emerald_axe_effect
6.10=axe/lapis_axe_effect
7.10=axe/redstone_axe_effect
8.10=axe/reinforced_axe_effect

2.11=mattock/diamond_mattock_effect
3.11=mattock/quartz_mattock_effect
4.11=mattock/beheading_mattock_effect
5.11=mattock/emerald_mattock_effect
6.11=mattock/lapis_mattock_effect
7.11=mattock/redstone_mattock_effect
8.11=mattock/reinforced_mattock_effect

2.12=lumberaxe/diamond_lumberaxe_effect
3.12=lumberaxe/quartz_lumberaxe_effect
4.12=lumberaxe/beheading_lumberaxe_effect
5.12=lumberaxe/emerald_lumberaxe_effect
6.12=lumberaxe/lapis_lumberaxe_effect
7.12=lumberaxe/redstone_lumberaxe_effect
8.12=lumberaxe/reinforced_lumberaxe_effect

2.13=battleaxe/diamond_battleaxe_effect
3.13=battleaxe/quartz_battleaxe_effect
4.13=battleaxe/beheading_battleaxe_effect
5.13=battleaxe/emerald_battleaxe_effect
6.13=battleaxe/lapis_battleaxe_effect
7.13=battleaxe/redstone_battleaxe_effect
8.13=battleaxe/reinforced_battleaxe_effect

10.1=scythe/diamond_scythe_effect
11.1=scythe/quartz_scythe_effect
12.1=scythe/beheading_scythe_effect
13.1=scythe/emerald_scythe_effect
14.1=scythe/lapis_scythe_effect
15.1=scythe/redstone_scythe_effect
16.1=scythe/reinforced_scythe_effect

10.2=frypan/diamond_frypan_effect
11.2=frypan/quartz_frypan_effect
12.2=frypan/beheading_frypan_effect
13.2=frypan/emerald_frypan_effect
14.2=frypan/lapis_frypan_effect
15.2=frypan/redstone_frypan_effect
16.2=frypan/reinforced_frypan_effect

10.3=battlesign/diamond_battlesign_effect
11.3=battlesign/quartz_battlesign_effect
12.3=battlesign/beheading_battlesign_effect
13.3=battlesign/emerald_battlesign_effect
14.3=battlesign/lapis_battlesign_effect
15.3=battlesign/redstone_battlesign_effect
16.3=battlesign/reinforced_battlesign_effect

10.4=chisel/diamond_chisel_effect
11.4=chisel/quartz_chisel_effect
12.4=chisel/beheading_chisel_effect
13.4=chisel/emerald_chisel_effect
14.4=chisel/lapis_chisel_effect
15.4=chisel/redstone_chisel_effect
16.4=chisel/reinforced_chisel_effect

10.5=arrow/diamond_arrow_effect
11.5=arrow/quartz_arrow_effect
12.5=arrow/beheading_arrow_effect
13.5=arrow/emerald_arrow_effect
14.5=arrow/lapis_arrow_effect
15.5=arrow/redstone_arrow_effect
16.5=arrow/reinforced_arrow_effect

10.6=shortbow/diamond_bow_effect
11.6=shortbow/quartz_bow_effect
12.6=shortbow/beheading_bow_effect
13.6=shortbow/emerald_bow_effect
14.6=shortbow/lapis_bow_effect
15.6=
16.6=shortbow/reinforced_bow_effect

10.7=shortbow/diamond_bow_effect_1
11.7=shortbow/quartz_bow_effect_1
12.7=shortbow/beheading_bow_effect_1
13.7=shortbow/emerald_bow_effect_1
14.7=shortbow/lapis_bow_effect_1
15.7=
16.7=shortbow/reinforced_bow_effect_1

10.8=shortbow/diamond_bow_effect_2
11.8=shortbow/quartz_bow_effect_2
12.8=shortbow/beheading_bow_effect_2
13.8=shortbow/emerald_bow_effect_2
14.8=shortbow/lapis_bow_effect_2
15.8=
16.8=shortbow/reinforced_bow_effect_2

10.9=shortbow/diamond_bow_effect_3
11.9=shortbow/quartz_bow_effect_3
12.9=shortbow/beheading_bow_effect_3
13.9=shortbow/emerald_bow_effect_3
14.9=shortbow/lapis_bow_effect_3
15.9=
16.9=shortbow/reinforced_bow_effect_3

10.10=cutlass/diamond_cutlass_effect
11.10=cutlass/quartz_cutlass_effect
12.10=cutlass/beheading_cutlass_effect
13.10=cutlass/emerald_cutlass_effect
14.10=cutlass/lapis_cutlass_effect
15.10=cutlass/redstone_cutlass_effect
16.10=cutlass/reinforced_cutlass_effect
