output=/

2.1=dagger/lava_dagger_effect
3.1=dagger/smite_dagger_effect
4.1=dagger/silk_dagger_effect
5.1=dagger/necrotic_dagger_effect
6.1=dagger/ice_dagger_effect
7.1=dagger/moss_dagger_effect
8.1=dagger/blaze_dagger_effect

2.2=rapier/lava_rapier_effect
3.2=rapier/smite_rapier_effect
4.2=rapier/silk_rapier_effect
5.2=rapier/necrotic_rapier_effect
6.2=rapier/ice_rapier_effect
7.2=rapier/moss_rapier_effect
8.2=rapier/blaze_rapier_effect

2.3=broadsword/lava_sword_effect
3.3=broadsword/smite_sword_effect
4.3=broadsword/silk_sword_effect
5.3=broadsword/necrotic_sword_effect
6.3=broadsword/ice_sword_effect
7.3=broadsword/moss_sword_effect
8.3=broadsword/blaze_sword_effect

2.4=longsword/lava_longsword_effect
3.4=longsword/smite_longsword_effect
4.4=longsword/silk_longsword_effect
5.4=longsword/necrotic_longsword_effect
6.4=longsword/ice_longsword_effect
7.4=longsword/moss_longsword_effect
8.4=longsword/blaze_longsword_effect

2.5=cleaver/lava_cleaver_effect
3.5=cleaver/smite_cleaver_effect
4.5=cleaver/silk_cleaver_effect
5.5=cleaver/necrotic_cleaver_effect
6.5=cleaver/ice_cleaver_effect
7.5=cleaver/moss_cleaver_effect
8.5=cleaver/blaze_cleaver_effect

2.6=shovel/lava_shovel_effect
3.6=shovel/smite_shovel_effect
4.6=shovel/silk_shovel_effect
5.6=shovel/necrotic_shovel_effect
6.6=shovel/ice_shovel_effect
7.6=shovel/moss_shovel_effect
8.6=shovel/blaze_shovel_effect

2.7=excavator/lava_excavator_effect
3.7=excavator/smite_excavator_effect
4.7=excavator/silk_excavator_effect
5.7=excavator/necrotic_excavator_effect
6.7=excavator/ice_excavator_effect
7.7=excavator/moss_excavator_effect
8.7=excavator/blaze_excavator_effect

2.8=pickaxe/lava_pickaxe_effect
3.8=pickaxe/smite_pickaxe_effect
4.8=pickaxe/silk_pickaxe_effect
5.8=pickaxe/necrotic_pickaxe_effect
6.8=pickaxe/ice_pickaxe_effect
7.8=pickaxe/moss_pickaxe_effect
8.8=pickaxe/blaze_pickaxe_effect

2.9=hammer/lava_hammer_effect
3.9=hammer/smite_hammer_effect
4.9=hammer/silk_hammer_effect
5.9=hammer/necrotic_hammer_effect
6.9=hammer/ice_hammer_effect
7.9=hammer/moss_hammer_effect
8.9=hammer/blaze_hammer_effect

2.10=axe/lava_axe_effect
3.10=axe/smite_axe_effect
4.10=axe/silk_axe_effect
5.10=axe/necrotic_axe_effect
6.10=axe/ice_axe_effect
7.10=axe/moss_axe_effect
8.10=axe/blaze_axe_effect

2.11=mattock/lava_mattock_effect
3.11=mattock/smite_mattock_effect
4.11=mattock/silk_mattock_effect
5.11=mattock/necrotic_mattock_effect
6.11=mattock/ice_mattock_effect
7.11=mattock/moss_mattock_effect
8.11=mattock/blaze_mattock_effect

2.12=lumberaxe/lava_lumberaxe_effect
3.12=lumberaxe/smite_lumberaxe_effect
4.12=lumberaxe/silk_lumberaxe_effect
5.12=lumberaxe/necrotic_lumberaxe_effect
6.12=lumberaxe/ice_lumberaxe_effect
7.12=lumberaxe/moss_lumberaxe_effect
8.12=lumberaxe/blaze_lumberaxe_effect

2.13=battleaxe/lava_battleaxe_effect
3.13=battleaxe/smite_battleaxe_effect
4.13=battleaxe/silk_battleaxe_effect
5.13=battleaxe/necrotic_battleaxe_effect
6.13=battleaxe/ice_battleaxe_effect
7.13=battleaxe/moss_battleaxe_effect
8.13=battleaxe/blaze_battleaxe_effect

10.1=scythe/lava_scythe_effect
11.1=scythe/smite_scythe_effect
12.1=scythe/silk_scythe_effect
13.1=scythe/necrotic_scythe_effect
14.1=scythe/ice_scythe_effect
15.1=scythe/moss_scythe_effect
16.1=scythe/blaze_scythe_effect

10.2=frypan/lava_frypan_effect
11.2=frypan/smite_frypan_effect
12.2=frypan/silk_frypan_effect
13.2=frypan/necrotic_frypan_effect
14.2=frypan/ice_frypan_effect
15.2=frypan/moss_frypan_effect
16.2=frypan/blaze_frypan_effect

10.3=battlesign/lava_battlesign_effect
11.3=battlesign/smite_battlesign_effect
12.3=battlesign/silk_battlesign_effect
13.3=battlesign/necrotic_battlesign_effect
14.3=battlesign/ice_battlesign_effect
15.3=battlesign/moss_battlesign_effect
16.3=battlesign/blaze_battlesign_effect

10.4=chisel/lava_chisel_effect
11.4=chisel/smite_chisel_effect
12.4=chisel/silk_chisel_effect
13.4=chisel/necrotic_chisel_effect
14.4=chisel/ice_chisel_effect
15.4=chisel/moss_chisel_effect
16.4=chisel/blaze_chisel_effect

10.5=arrow/lava_arrow_effect
11.5=arrow/smite_arrow_effect
12.5=arrow/silk_arrow_effect
13.5=arrow/necrotic_arrow_effect
14.5=arrow/ice_arrow_effect
15.5=arrow/moss_arrow_effect
16.5=arrow/blaze_arrow_effect

10.6=shortbow/lava_bow_effect
11.6=shortbow/smite_bow_effect
12.6=shortbow/silk_bow_effect
13.6=shortbow/necrotic_bow_effect
14.6=shortbow/ice_bow_effect
15.6=shortbow/moss_bow_effect
16.6=shortbow/blaze_bow_effect

10.7=shortbow/lava_bow_effect_1
11.7=shortbow/smite_bow_effect_1
12.7=shortbow/silk_bow_effect_1
13.7=shortbow/necrotic_bow_effect_1
14.7=shortbow/ice_bow_effect_1
15.7=shortbow/moss_bow_effect_1
16.7=shortbow/blaze_bow_effect_1

10.8=shortbow/lava_bow_effect_2
11.8=shortbow/smite_bow_effect_2
12.8=shortbow/silk_bow_effect_2
13.8=shortbow/necrotic_bow_effect_2
14.8=shortbow/ice_bow_effect_2
15.8=shortbow/moss_bow_effect_2
16.8=shortbow/blaze_bow_effect_2

10.9=shortbow/lava_bow_effect_3
11.9=shortbow/smite_bow_effect_3
12.9=shortbow/silk_bow_effect_3
13.9=shortbow/necrotic_bow_effect_3
14.9=shortbow/ice_bow_effect_3
15.9=shortbow/moss_bow_effect_3
16.9=shortbow/blaze_bow_effect_3

10.10=cutlass/lava_cutlass_effect
11.10=cutlass/smite_cutlass_effect
12.10=cutlass/silk_cutlass_effect
13.10=cutlass/necrotic_cutlass_effect
14.10=cutlass/ice_cutlass_effect
15.10=cutlass/moss_cutlass_effect
16.10=cutlass/blaze_cutlass_effect
