output=/

2.1=dagger/metallurgy3/nether/kalendrite_dagger_handle
3.1=dagger/metallurgy3/nether/kalendrite_dagger_blade
4.1=dagger/metallurgy3/nether/kalendrite_dagger_blade_broken
5.1=dagger/metallurgy3/nether/kalendrite_dagger_accessory

2.2=rapier/metallurgy3/nether/kalendrite_rapier_handle
3.2=rapier/metallurgy3/nether/kalendrite_rapier_blade
4.2=rapier/metallurgy3/nether/kalendrite_rapier_blade_broken
5.2=rapier/metallurgy3/nether/kalendrite_rapier_accessory

2.3=broadsword/metallurgy3/nether/kalendrite_sword_handle
3.3=broadsword/metallurgy3/nether/kalendrite_sword_blade
4.3=broadsword/metallurgy3/nether/kalendrite_sword_blade_broken
5.3=broadsword/metallurgy3/nether/kalendrite_sword_accessory

2.4=longsword/metallurgy3/nether/kalendrite_longsword_handle
3.4=longsword/metallurgy3/nether/kalendrite_longsword_blade
4.4=longsword/metallurgy3/nether/kalendrite_longsword_blade_broken
5.4=longsword/metallurgy3/nether/kalendrite_longsword_accessory

2.5=cleaver/metallurgy3/nether/kalendrite_cleaver_handle
3.5=cleaver/metallurgy3/nether/kalendrite_cleaver_head
4.5=cleaver/metallurgy3/nether/kalendrite_cleaver_head_broken
5.5=cleaver/metallurgy3/nether/kalendrite_cleaver_guard
6.5=cleaver/metallurgy3/nether/kalendrite_cleaver_shield

2.6=shovel/metallurgy3/nether/kalendrite_shovel_handle
3.6=shovel/metallurgy3/nether/kalendrite_shovel_head
4.6=shovel/metallurgy3/nether/kalendrite_shovel_head_broken

2.7=excavator/metallurgy3/nether/kalendrite_excavator_handle
3.7=excavator/metallurgy3/nether/kalendrite_excavator_head
4.7=excavator/metallurgy3/nether/kalendrite_excavator_head_broken
5.7=excavator/metallurgy3/nether/kalendrite_excavator_binding
6.7=excavator/metallurgy3/nether/kalendrite_excavator_grip

2.8=pickaxe/metallurgy3/nether/kalendrite_pickaxe_handle
3.8=pickaxe/metallurgy3/nether/kalendrite_pickaxe_head
4.8=pickaxe/metallurgy3/nether/kalendrite_pickaxe_head_broken
5.8=pickaxe/metallurgy3/nether/kalendrite_pickaxe_accessory

2.9=hammer/metallurgy3/nether/kalendrite_hammer_handle
3.9=hammer/metallurgy3/nether/kalendrite_hammer_handle_broken
4.9=hammer/metallurgy3/nether/kalendrite_hammer_head
5.9=hammer/metallurgy3/nether/kalendrite_hammer_front
6.9=hammer/metallurgy3/nether/kalendrite_hammer_back

2.10=axe/metallurgy3/nether/kalendrite_axe_handle
3.10=axe/metallurgy3/nether/kalendrite_axe_head
4.10=axe/metallurgy3/nether/kalendrite_axe_head_broken

2.11=mattock/metallurgy3/nether/kalendrite_mattock_handle
3.11=mattock/metallurgy3/nether/kalendrite_mattock_head
4.11=mattock/metallurgy3/nether/kalendrite_mattock_head_broken
5.11=mattock/metallurgy3/nether/kalendrite_mattock_back

2.12=lumberaxe/metallurgy3/nether/kalendrite_lumberaxe_handle
3.12=lumberaxe/metallurgy3/nether/kalendrite_lumberaxe_head
4.12=lumberaxe/metallurgy3/nether/kalendrite_lumberaxe_head_broken
5.12=lumberaxe/metallurgy3/nether/kalendrite_lumberaxe_binding
6.12=lumberaxe/metallurgy3/nether/kalendrite_lumberaxe_shield

2.13=battleaxe/metallurgy3/nether/kalendrite_battleaxe_handle
3.13=battleaxe/metallurgy3/nether/kalendrite_battleaxe_fronthead
3.13=battleaxe/metallurgy3/nether/kalendrite_battleaxe_backhead
3.13=battleaxe/metallurgy3/nether/kalendrite_battleaxe_head
4.13=battleaxe/metallurgy3/nether/kalendrite_battleaxe_fronthead_broken
4.13=battleaxe/metallurgy3/nether/kalendrite_battleaxe_head_broken
5.13=battleaxe/metallurgy3/nether/kalendrite_battleaxe_binding
5.13=battleaxe/metallurgy3/nether/kalendrite_battleaxe_back
6.13=battleaxe/metallurgy3/nether/kalendrite_battleaxe_backhead
6.13=battleaxe/metallurgy3/nether/kalendrite_battleaxe_front

9.1=scythe/metallurgy3/nether/kalendrite_scythe_handle
10.1=scythe/metallurgy3/nether/kalendrite_scythe_head
11.1=scythe/metallurgy3/nether/kalendrite_scythe_head_broken
12.1=scythe/metallurgy3/nether/kalendrite_scythe_binding
13.1=scythe/metallurgy3/nether/kalendrite_scythe_accessory

9.2=frypan/metallurgy3/nether/kalendrite_frypan_handle
10.2=frypan/metallurgy3/nether/kalendrite_frypan_head
11.2=frypan/metallurgy3/nether/kalendrite_frypan_head_broken

9.3=battlesign/metallurgy3/nether/kalendrite_battlesign_handle
10.3=battlesign/metallurgy3/nether/kalendrite_battlesign_head
11.3=battlesign/metallurgy3/nether/kalendrite_battlesign_head_broken

9.4=chisel/metallurgy3/nether/kalendrite_chisel_handle
10.4=chisel/metallurgy3/nether/kalendrite_chisel_head
11.4=chisel/metallurgy3/nether/kalendrite_chisel_head_broken

9.5=arrow/metallurgy3/nether/kalendrite_arrow_shaft
10.5=arrow/metallurgy3/nether/kalendrite_arrow_head
11.5=

9.6=cutlass/metallurgy3/nether/kalendrite_cutlass_handle
10.6=cutlass/metallurgy3/nether/kalendrite_cutlass_blade
11.6=cutlass/metallurgy3/nether/kalendrite_cutlass_blade_broken
12.6=cutlass/metallurgy3/nether/kalendrite_cutlass_guard


6.14=shortbow/metallurgy3/nether/kalendrite_bow_top
7.14=shortbow/metallurgy3/nether/kalendrite_bow_bottom

2.14=shortbow/metallurgy3/nether/kalendrite_bow_top_1
3.14=shortbow/metallurgy3/nether/kalendrite_bow_bottom_1

2.15=shortbow/metallurgy3/nether/kalendrite_bow_top_2
3.15=shortbow/metallurgy3/nether/kalendrite_bow_bottom_2

2.16=shortbow/metallurgy3/nether/kalendrite_bow_top_3
3.16=shortbow/metallurgy3/nether/kalendrite_bow_bottom_3


11.10=parts/metallurgy3/nether/kalendrite_arrowhead
11.11=parts/metallurgy3/nether/kalendrite_hammer_head
11.12=parts/metallurgy3/nether/kalendrite_pickaxe_head
11.13=parts/metallurgy3/nether/kalendrite_scythe_head
11.10=
12.11=parts/metallurgy3/nether/kalendrite_largeplate
12.12=parts/metallurgy3/nether/kalendrite_frypan_head
12.13=parts/metallurgy3/nether/kalendrite_large_sword_blade
13.10=parts/metallurgy3/nether/kalendrite_crossbar
13.11=parts/metallurgy3/nether/kalendrite_rod
13.12=parts/metallurgy3/nether/kalendrite_battlesign_head
13.13=parts/metallurgy3/nether/kalendrite_chisel_head
14.10=parts/metallurgy3/nether/kalendrite_medium_guard
14.11=parts/metallurgy3/nether/kalendrite_toughrod
14.12=parts/metallurgy3/nether/kalendrite_sword_blade
14.13=parts/metallurgy3/nether/kalendrite_knife_blade
15.10=parts/metallurgy3/nether/kalendrite_large_guard
15.11=parts/metallurgy3/nether/kalendrite_binding
15.12=parts/metallurgy3/nether/kalendrite_shovel_head
15.13=parts/metallurgy3/nether/kalendrite_excavator_head
16.10=parts/metallurgy3/nether/kalendrite_full_guard
16.11=parts/metallurgy3/nether/kalendrite_toughbind
16.12=parts/metallurgy3/nether/kalendrite_axe_head
16.13=parts/metallurgy3/nether/kalendrite_lumberaxe_head
