output=/

1.1=Vanilla_Minecraft/assets/minecraft/textures/blocks/sapling_oak
2.1=Vanilla_Minecraft/assets/minecraft/textures/blocks/leaves_oak
3.1=Vanilla_Minecraft/assets/minecraft/textures/blocks/leaves_oak_opaque

2.1=Forestry/assets/forestry/textures/blocks/leaves/deciduous.fancy
3.1=Forestry/assets/forestry/textures/blocks/leaves/deciduous.plain

1.2=Vanilla_Minecraft/assets/minecraft/textures/blocks/sapling_birch
2.2=Vanilla_Minecraft/assets/minecraft/textures/blocks/leaves_birch
3.2=Vanilla_Minecraft/assets/minecraft/textures/blocks/leaves_birch_opaque

1.3=Vanilla_Minecraft/assets/minecraft/textures/blocks/sapling_spruce
2.3=Vanilla_Minecraft/assets/minecraft/textures/blocks/leaves_spruce
3.3=Vanilla_Minecraft/assets/minecraft/textures/blocks/leaves_spruce_opaque

2.3=Forestry/assets/forestry/textures/blocks/leaves/conifers.fancy
3.3=Forestry/assets/forestry/textures/blocks/leaves/conifers.plain

1.4=Vanilla_Minecraft/assets/minecraft/textures/blocks/sapling_jungle
2.4=Vanilla_Minecraft/assets/minecraft/textures/blocks/leaves_jungle
3.4=Vanilla_Minecraft/assets/minecraft/textures/blocks/leaves_jungle_opaque

1.5=Vanilla_Minecraft/assets/minecraft/textures/blocks/sapling_acacia
2.5=Vanilla_Minecraft/assets/minecraft/textures/blocks/leaves_acacia
3.5=Vanilla_Minecraft/assets/minecraft/textures/blocks/leaves_acacia_opaque

1.5=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/sapling_acacia
2.5=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/leaves_acacia_fancy
3.5=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/leaves_acacia_fast

1.5=Forestry/assets/forestry/textures/blocks/germlings/sapling.treeAcacia

2.5=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/leavesacaciafancy
3.5=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/leavesacaciafast

1.5=Highlands/assets/highlands/textures/blocks/saplingAcacia
14.3=Highlands/assets/highlands/textures/blocks/leavesAcacia
15.3=Highlands/assets/highlands/textures/blocks/leavesAcaciaFast

1.6=Vanilla_Minecraft/assets/minecraft/textures/blocks/sapling_roofed_oak
2.6=Vanilla_Minecraft/assets/minecraft/textures/blocks/leaves_big_oak
3.6=Vanilla_Minecraft/assets/minecraft/textures/blocks/leaves_big_oak_opaque

1.7=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/sapling_whitecherry
2.7=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/leaves_whitecherry_fancy
3.7=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/leaves_whitecherry_fast

1.7=Forestry/assets/forestry/textures/blocks/germlings/sapling.treeCherry

1.8=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/sapling_dark
2.8=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/leaves_dark_fancy
3.8=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/leaves_dark_fast

1.9=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/sapling_dead
2.9=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/leaves_dead_fancy
3.9=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/leaves_dead_fast

1.10=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/sapling_fir
2.10=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/leaves_fir_fancy
3.10=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/leaves_fir_fast

1.10=Highlands/assets/highlands/textures/blocks/saplingFir
2.10=Highlands/assets/highlands/textures/blocks/leavesFir
3.10=Highlands/assets/highlands/textures/blocks/leavesFirFast

1.10=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/saplingfir
14.12=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/leavesfirfancy
15.12=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/leavesfirfast

1.11=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/sapling_hellbark
2.11=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/leaves_hellbark_fancy
3.11=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/leaves_hellbark_fast

1.12=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/sapling_holy
2.12=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/leaves_holy_fancy
3.12=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/leaves_holy_fast

1.13=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/sapling_jacaranda
2.13=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/leaves_jacaranda_fancy
3.13=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/leaves_jacaranda_fast

1.14=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/sapling_magic
2.14=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/leaves_magic_fancy
3.14=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/leaves_magic_fast

1.15=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/sapling_mangrove
2.15=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/leaves_mangrove_fancy
3.15=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/leaves_mangrove_fast

1.15=Twilight_Forest/assets/twilightforest/textures/blocks/sapling_mangrove

1.15=Highlands/assets/highlands/textures/blocks/salpingMangrove
14.6=Highlands/assets/highlands/textures/blocks/leavesMangrove
15.6=Highlands/assets/highlands/textures/blocks/leavesMangroveFast

1.16=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/sapling_palm
2.16=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/leaves_palm_fancy
3.16=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/leaves_palm_fast

1.16=Forestry/assets/forestry/textures/blocks/germlings/sapling.treePalm
2.16=Forestry/assets/forestry/textures/blocks/leaves/palm.fancy
3.16=Forestry/assets/forestry/textures/blocks/leaves/palm.plain

1.16=Highlands/assets/highlands/textures/blocks/saplingPalm
14.4=Highlands/assets/highlands/textures/blocks/leavesPalm
15.4=Highlands/assets/highlands/textures/blocks/leavesPalmFast

1.16=TeamMet-Atum/assets/atum/textures/blocks/AtumPalmSapling
14.4=TeamMet-Atum/assets/atum/textures/blocks/AtumLeaves

4.1=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/sapling_pine
5.1=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/leaves_pine_fancy
6.1=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/leaves_pine_fast

4.1=Forestry/assets/forestry/textures/blocks/germlings/sapling.treePine

4.2=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/sapling_redwood
5.2=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/leaves_redwood_fancy
6.2=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/leaves_redwood_fast

4.2=Natura/assets/natura/textures/blocks/redwood_sapling
5.2=Natura/assets/natura/textures/blocks/redwood_leaves_fancy
6.2=Natura/assets/natura/textures/blocks/redwood_leaves_fast

4.2=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/saplingredwood
5.2=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/leavesredwoodfancy
6.2=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/leavesredwoodfast

4.2=Highlands/assets/highlands/textures/blocks/saplingRedwood
14.5=Highlands/assets/highlands/textures/blocks/leavesRedwood
15.5=Highlands/assets/highlands/textures/blocks/leavesRedwoodFast

4.3=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/sapling_willow
5.3=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/leaves_willow_fancy
6.3=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/leaves_willow_fast

4.3=Natura/assets/natura/textures/blocks/willow_sapling
14.1=Natura/assets/natura/textures/blocks/willow_leaves_fancy
15.1=Natura/assets/natura/textures/blocks/willow_leaves_fast

4.3=Forestry/assets/forestry/textures/blocks/germlings/sapling.treeWillow
5.3=Forestry/assets/forestry/textures/blocks/leaves/willow.fancy
6.3=Forestry/assets/forestry/textures/blocks/leaves/willow.plain

5.4=Natura/assets/natura/textures/blocks/apple_leaves_fancy
6.4=Natura/assets/natura/textures/blocks/apple_leaves_fast

4.5=Natura/assets/natura/textures/blocks/bloodwood_sapling
5.5=Natura/assets/natura/textures/blocks/bloodwood_leaves_fancy
6.5=Natura/assets/natura/textures/blocks/bloodwood_leaves_fast

4.6=Natura/assets/natura/textures/blocks/darkwood_sapling
5.6=Natura/assets/natura/textures/blocks/darkwood_leaves_fancy
6.6=Natura/assets/natura/textures/blocks/darkwood_leaves_fast

4.7=Natura/assets/natura/textures/blocks/eucalyptus_sapling
5.7=Natura/assets/natura/textures/blocks/eucalyptus_leaves_fancy
6.7=Natura/assets/natura/textures/blocks/eucalyptus_leaves_fast

4.7=Highlands/assets/highlands/textures/blocks/saplingEucalyptus
14.7=Highlands/assets/highlands/textures/blocks/leavesEucalyptus
15.7=Highlands/assets/highlands/textures/blocks/leavesEucalyptusFast

4.8=Natura/assets/natura/textures/blocks/fusewood_sapling
5.8=Natura/assets/natura/textures/blocks/fusewood_leaves_fancy
6.8=Natura/assets/natura/textures/blocks/fusewood_leaves_fast

4.9=Natura/assets/natura/textures/blocks/ghostwood_sapling
5.9=Natura/assets/natura/textures/blocks/ghostwood_leaves_fancy
6.9=Natura/assets/natura/textures/blocks/ghostwood_leaves_fast

4.10=Natura/assets/natura/textures/blocks/hopseed_sapling
5.10=Natura/assets/natura/textures/blocks/hopseed_leaves_fancy
6.10=Natura/assets/natura/textures/blocks/hopseed_leaves_fast

4.11=Natura/assets/natura/textures/blocks/maple_sapling
5.11=Natura/assets/natura/textures/blocks/maple_leaves_fancy
6.11=Natura/assets/natura/textures/blocks/maple_leaves_fast

4.11=Forestry/assets/forestry/textures/blocks/germlings/sapling.treeMaple
5.11=Forestry/assets/forestry/textures/blocks/leaves/maple.fancy
6.11=Forestry/assets/forestry/textures/blocks/leaves/maple.plan

4.11=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/sapling_maple
14.2=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/leaves_maple_fancy
15.2=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/leaves_maple_fast

4.12=Natura/assets/natura/textures/blocks/purpleheart_sapling
5.12=Natura/assets/natura/textures/blocks/purpleheart_leaves_fancy
6.12=Natura/assets/natura/textures/blocks/purpleheart_leaves_fast

4.13=Natura/assets/natura/textures/blocks/sakura_sapling
5.13=Natura/assets/natura/textures/blocks/sakura_leaves_fancy
6.13=Natura/assets/natura/textures/blocks/sakura_leaves_fast

4.13=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/saplingsakura
5.13=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/leavessakurafancy
6.13=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/leavessakurafast

4.14=Natura/assets/natura/textures/blocks/silverbell_sapling
5.14=Natura/assets/natura/textures/blocks/silverbell_leaves_fancy
6.14=Natura/assets/natura/textures/blocks/silverbell_leaves_fast

4.15=Natura/assets/natura/textures/blocks/tiger_sapling
5.15=Natura/assets/natura/textures/blocks/tiger_leaves_fancy
6.15=Natura/assets/natura/textures/blocks/tiger_leaves_fast

4.16=Twilight_Forest/assets/twilightforest/textures/blocks/sapling_canopy
7.1=Twilight_Forest/assets/twilightforest/textures/blocks/sapling_oak
7.2=Twilight_Forest/assets/twilightforest/textures/blocks/sapling_time
7.3=Twilight_Forest/assets/twilightforest/textures/blocks/sapling_mining
7.4=Twilight_Forest/assets/twilightforest/textures/blocks/sapling_transformation
7.5=Twilight_Forest/assets/twilightforest/textures/blocks/sapling_sorting

7.6=Twilight_Forest/assets/twilightforest/textures/blocks/sapling_darkwood
9.6=Twilight_Forest/assets/twilightforest/textures/blocks/darkwood_leaves
9.6=Twilight_Forest/assets/twilightforest/textures/blocks/darkwood_leaves - copy

7.7=Thaumcraft_4/assets/thaumcraft/textures/blocks/silverwoodsapling
8.7=Thaumcraft_4/assets/thaumcraft/textures/blocks/silverwoodleaves
9.7=Thaumcraft_4/assets/thaumcraft/textures/blocks/silverwoodleaveslow

7.8=Thaumcraft_4/assets/thaumcraft/textures/blocks/greatwoodsapling
8.8=Thaumcraft_4/assets/thaumcraft/textures/blocks/greatwoodleaves
9.8=Thaumcraft_4/assets/thaumcraft/textures/blocks/greatwoodleaveslow

7.9=Dart_Craft/assets/dartcraft/textures/blocks/sapling
8.9=Dart_Craft/assets/dartcraft/textures/blocks/leaves

7.10=IC2/assets/ic2/textures/blocks/blockRubSapling
8.10=IC2/assets/ic2/textures/blocks/blockRubLeaves

7.10=Forestry/assets/forestry/textures/blocks/germlings/sapling.treeRubber

7.11=PC-MineFactory_Reloaded/assets/minefactoryreloaded/textures/blocks/tile.mfr.rubberwood.sapling
8.11=PC-MineFactory_Reloaded/assets/minefactoryreloaded/textures/blocks/tile.mfr.rubberwood.leaves.opaque
9.11=PC-MineFactory_Reloaded/assets/minefactoryreloaded/textures/blocks/tile.mfr.rubberwood.leaves.transparent

7.12=Forestry/assets/forestry/textures/blocks/germlings/sapling.treeBalsa
7.13=Forestry/assets/forestry/textures/blocks/germlings/sapling.treeBaobab

7.15=Forestry/assets/forestry/textures/blocks/germlings/sapling.treeCitrus
7.16=Forestry/assets/forestry/textures/blocks/germlings/sapling.treeEbony
10.1=Forestry/assets/forestry/textures/blocks/germlings/sapling.treeGiganteum
10.2=Forestry/assets/forestry/textures/blocks/germlings/sapling.treeGreenheart
10.3=Forestry/assets/forestry/textures/blocks/germlings/sapling.treeKapok
10.4=Forestry/assets/forestry/textures/blocks/germlings/sapling.treeLarch
10.5=Forestry/assets/forestry/textures/blocks/germlings/sapling.treeLime
10.6=Forestry/assets/forestry/textures/blocks/germlings/sapling.treeMahoe
10.7=Forestry/assets/forestry/textures/blocks/germlings/sapling.treeMahogany
10.8=Forestry/assets/forestry/textures/blocks/germlings/sapling.treePapaya

10.10=Forestry/assets/forestry/textures/blocks/germlings/sapling.treePoplar
10.11=Forestry/assets/forestry/textures/blocks/germlings/sapling.treeSequoia
10.12=Forestry/assets/forestry/textures/blocks/germlings/sapling.treeTeak
10.13=Forestry/assets/forestry/textures/blocks/germlings/sapling.treeWalnut
10.14=Forestry/assets/forestry/textures/blocks/germlings/sapling.treeWenge

10.10=Highlands/assets/highlands/textures/blocks/saplingPoplar
11.10=Highlands/assets/highlands/textures/blocks/leavesPoplar
12.10=Highlands/assets/highlands/textures/blocks/leavesPoplarFast

10.15=Highlands/assets/highlands/textures/blocks/saplingAsh
11.15=Highlands/assets/highlands/textures/blocks/leavesAsh
12.15=Highlands/assets/highlands/textures/blocks/leavesAshFast

10.16=Highlands/assets/highlands/textures/blocks/saplingIronwood
11.16=Highlands/assets/highlands/textures/blocks/leavesIronwood
12.16=Highlands/assets/highlands/textures/blocks/leavesIronwoodFast

13.8=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/salpingyellow
13.8=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/salpingyellowautumn
14.8=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/leavesyellowautumnfancy
15.8=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/leavesyellowautumnfast

13.8=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/sapling_yellowautumn
14.8=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/leaves_yellowautumn_fancy
15.8=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/leaves_yellowautumn_fast

13.9=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/saplingorange
13.9=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/saplingorangeautumn
14.9=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/leavesorangeautumnfancy
15.9=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/leavesorangeautumnfast

13.9=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/sapling_orangeautumn
14.9=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/leaves_orangeautumn_fancy
15.9=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/leaves_orangeautumn_fast

13.10=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/saplingred
13.10=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/saplingredautumn
14.10=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/leavesredautumnfancy
15.10=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/leavesredautumnfast

13.11=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/saplingbrown
13.11=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/saplingbrownautumn
14.11=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/leavesbrownautumnfancy
15.11=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/leavesbrownautumnfast

13.13=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/sapling_bamboo
14.13=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/leaves_bamboo_fancy
15.13=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/leaves_bamboo_fast
