output=/

1.1=PC-MineFactory_Reloaded/assets/minefactoryreloaded/textures/blocks/tile.mfr.decorativestone.white.smooth
2.1=PC-MineFactory_Reloaded/assets/minefactoryreloaded/textures/blocks/tile.mfr.decorativestone.white.cobble
3.1=PC-MineFactory_Reloaded/assets/minefactoryreloaded/textures/blocks/tile.mfr.decorativestone.white.brick.large
4.1=PC-MineFactory_Reloaded/assets/minefactoryreloaded/textures/blocks/tile.mfr.decorativestone.white.paved
5.1=PC-MineFactory_Reloaded/assets/minefactoryreloaded/textures/blocks/tile.mfr.decorativestone.white.gravel
6.1=PC-MineFactory_Reloaded/assets/minefactoryreloaded/textures/blocks/tile.mfr.decorativestone.white.brick.small