output=/

1.1=Vanilla_Minecraft/assets/minecraft/textures/blocks/stone
2.1=Vanilla_Minecraft/assets/minecraft/textures/blocks/cobblestone
3.1=Vanilla_Minecraft/assets/minecraft/textures/blocks/stonebrick
4.1=Vanilla_Minecraft/assets/minecraft/textures/blocks/stonebrick_carved

1.2=Vanilla_Minecraft/assets/minecraft/textures/blocks/stone_andesite
1.3=Vanilla_Minecraft/assets/minecraft/textures/blocks/stone_diorite
1.4=Vanilla_Minecraft/assets/minecraft/textures/blocks/stone_granite

1.2=Underground_Biomes/assets/Underground_Biomes/textures/blocks/andesite
2.2=Underground_Biomes/assets/Underground_Biomes/textures/blocks/andesiteCobble
3.2=Underground_Biomes/assets/Underground_Biomes/textures/blocks/andesiteBrick

1.4=Underground_Biomes/assets/Underground_Biomes/textures/blocks/redGranite
2.4=Underground_Biomes/assets/Underground_Biomes/textures/blocks/redGraniteCobble
3.4=Underground_Biomes/assets/Underground_Biomes/textures/blocks/redGraniteBrick

1.4=Reika-GeoStrata/assets/geostrata/textures/blocks/granite
2.4=Reika-GeoStrata/assets/geostrata/textures/blocks/granite_c
3.4=Reika-GeoStrata/assets/geostrata/textures/blocks/granite_b
4.4=Reika-GeoStrata/assets/geostrata/textures/blocks/granite_r
5.4=Reika-GeoStrata/assets/geostrata/textures/blocks/granite_t
6.4=Reika-GeoStrata/assets/geostrata/textures/blocks/granite_f
7.4=Reika-GeoStrata/assets/geostrata/textures/blocks/granite_e
8.4=Reika-GeoStrata/assets/geostrata/textures/blocks/granite_i

1.5=Reika-GeoStrata/assets/geostrata/textures/blocks/basalt
2.5=Reika-GeoStrata/assets/geostrata/textures/blocks/basalt_c
3.5=Reika-GeoStrata/assets/geostrata/textures/blocks/basalt_b
4.5=Reika-GeoStrata/assets/geostrata/textures/blocks/basalt_r
5.5=Reika-GeoStrata/assets/geostrata/textures/blocks/basalt_t
6.5=Reika-GeoStrata/assets/geostrata/textures/blocks/basalt_f
7.5=Reika-GeoStrata/assets/geostrata/textures/blocks/basalt_e
8.5=Reika-GeoStrata/assets/geostrata/textures/blocks/basalt_i

1.5=Underground_Biomes/assets/Underground_Biomes/textures/blocks/basalt
2.5=Underground_Biomes/assets/Underground_Biomes/textures/blocks/basaltCobble
3.5=Underground_Biomes/assets/Underground_Biomes/textures/blocks/basaltBrick

1.5=Project_Red/assets/projectred/textures/blocks/ore/stonebasalt
2.5=Project_Red/assets/projectred/textures/blocks/ore/cobblebasalt
3.5=Project_Red/assets/projectred/textures/blocks/ore/brickbasalt

1.6=Reika-GeoStrata/assets/geostrata/textures/blocks/marble
2.6=Reika-GeoStrata/assets/geostrata/textures/blocks/marble_c
3.6=Reika-GeoStrata/assets/geostrata/textures/blocks/marble_b
4.6=Reika-GeoStrata/assets/geostrata/textures/blocks/marble_r
5.6=Reika-GeoStrata/assets/geostrata/textures/blocks/marble_t
6.6=Reika-GeoStrata/assets/geostrata/textures/blocks/marble_f
7.6=Reika-GeoStrata/assets/geostrata/textures/blocks/marble_e
8.6=Reika-GeoStrata/assets/geostrata/textures/blocks/marble_i

1.6=Underground_Biomes/assets/Underground_Biomes/textures/blocks/marble
2.6=Underground_Biomes/assets/Underground_Biomes/textures/blocks/marbleCobble
3.6=Underground_Biomes/assets/Underground_Biomes/textures/blocks/marbleBrick

1.6=Project_Red/assets/projectred/textures/blocks/ore/stonemarble
3.6=Project_Red/assets/projectred/textures/blocks/ore/brickmarble

1.7=Reika-GeoStrata/assets/geostrata/textures/blocks/gneiss
2.7=Reika-GeoStrata/assets/geostrata/textures/blocks/gneiss_c
3.7=Reika-GeoStrata/assets/geostrata/textures/blocks/gneiss_b
4.7=Reika-GeoStrata/assets/geostrata/textures/blocks/gneiss_r
5.7=Reika-GeoStrata/assets/geostrata/textures/blocks/gneiss_t
6.7=Reika-GeoStrata/assets/geostrata/textures/blocks/gneiss_f
7.7=Reika-GeoStrata/assets/geostrata/textures/blocks/gneiss_e
8.7=Reika-GeoStrata/assets/geostrata/textures/blocks/gneiss_i

1.7=Underground_Biomes/assets/Underground_Biomes/textures/blocks/gneiss
2.7=Underground_Biomes/assets/Underground_Biomes/textures/blocks/gneissCobble
3.7=Underground_Biomes/assets/Underground_Biomes/textures/blocks/gneissBrick

1.8=Reika-GeoStrata/assets/geostrata/textures/blocks/granulite
2.8=Reika-GeoStrata/assets/geostrata/textures/blocks/granulite_c
3.8=Reika-GeoStrata/assets/geostrata/textures/blocks/granulite_b
4.8=Reika-GeoStrata/assets/geostrata/textures/blocks/granulite_r
5.8=Reika-GeoStrata/assets/geostrata/textures/blocks/granulite_t
6.8=Reika-GeoStrata/assets/geostrata/textures/blocks/granulite_f
7.8=Reika-GeoStrata/assets/geostrata/textures/blocks/granulite_e
8.8=Reika-GeoStrata/assets/geostrata/textures/blocks/granulite_i

1.9=Reika-GeoStrata/assets/geostrata/textures/blocks/hornfel
2.9=Reika-GeoStrata/assets/geostrata/textures/blocks/hornfel_c
3.9=Reika-GeoStrata/assets/geostrata/textures/blocks/hornfel_b
4.9=Reika-GeoStrata/assets/geostrata/textures/blocks/hornfel_r
5.9=Reika-GeoStrata/assets/geostrata/textures/blocks/hornfel_t
6.9=Reika-GeoStrata/assets/geostrata/textures/blocks/hornfel_f
7.9=Reika-GeoStrata/assets/geostrata/textures/blocks/hornfel_e
8.9=Reika-GeoStrata/assets/geostrata/textures/blocks/hornfel_i

1.10=Reika-GeoStrata/assets/geostrata/textures/blocks/limestone
2.10=Reika-GeoStrata/assets/geostrata/textures/blocks/limestone_c
3.10=Reika-GeoStrata/assets/geostrata/textures/blocks/limestone_b
4.10=Reika-GeoStrata/assets/geostrata/textures/blocks/limestone_r
5.10=Reika-GeoStrata/assets/geostrata/textures/blocks/limestone_t
6.10=Reika-GeoStrata/assets/geostrata/textures/blocks/limestone_f
7.10=Reika-GeoStrata/assets/geostrata/textures/blocks/limestone_e
8.10=Reika-GeoStrata/assets/geostrata/textures/blocks/limestone_i

1.10=Underground_Biomes/assets/Underground_Biomes/textures/blocks/limestone

1.10=Emasher_Resource/assets/emashercore/textures/blocks/limestone
3.10=Emasher_Resource/assets/emashercore/textures/blocks/limestoneBrick

1.10=TeamMet-Atum/assets/atum/textures/blocks/AtumStone
2.10=TeamMet-Atum/assets/atum/textures/blocks/AtumCobble
3.10=TeamMet-Atum/assets/atum/textures/blocks/AtumBrickLarge
4.10=TeamMet-Atum/assets/atum/textures/blocks/AtumBrickCarved
6.10=TeamMet-Atum/assets/atum/textures/blocks/AtumBrickSmall

1.11=Reika-GeoStrata/assets/geostrata/textures/blocks/migmatite
2.11=Reika-GeoStrata/assets/geostrata/textures/blocks/migmatite_c
3.11=Reika-GeoStrata/assets/geostrata/textures/blocks/migmatite_b
4.11=Reika-GeoStrata/assets/geostrata/textures/blocks/migmatite_r
5.11=Reika-GeoStrata/assets/geostrata/textures/blocks/migmatite_t
6.11=Reika-GeoStrata/assets/geostrata/textures/blocks/migmatite_f
7.11=Reika-GeoStrata/assets/geostrata/textures/blocks/migmatite_e
8.11=Reika-GeoStrata/assets/geostrata/textures/blocks/migmatite_i

1.11=Underground_Biomes/assets/Underground_Biomes/textures/blocks/migmatite
2.11=Underground_Biomes/assets/Underground_Biomes/textures/blocks/migmatiteCobble
3.11=Underground_Biomes/assets/Underground_Biomes/textures/blocks/migmatiteBrick

1.12=Reika-GeoStrata/assets/geostrata/textures/blocks/onyx
2.12=Reika-GeoStrata/assets/geostrata/textures/blocks/onyx_c
3.12=Reika-GeoStrata/assets/geostrata/textures/blocks/onyx_b
4.12=Reika-GeoStrata/assets/geostrata/textures/blocks/onyx_r
5.12=Reika-GeoStrata/assets/geostrata/textures/blocks/onyx_t
6.12=Reika-GeoStrata/assets/geostrata/textures/blocks/onyx_f
7.12=Reika-GeoStrata/assets/geostrata/textures/blocks/onyx_e
8.12=Reika-GeoStrata/assets/geostrata/textures/blocks/onyx_i

1.13=Reika-GeoStrata/assets/geostrata/textures/blocks/opal
2.13=Reika-GeoStrata/assets/geostrata/textures/blocks/opal_c
3.13=Reika-GeoStrata/assets/geostrata/textures/blocks/opal_b
4.13=Reika-GeoStrata/assets/geostrata/textures/blocks/opal_r
5.13=Reika-GeoStrata/assets/geostrata/textures/blocks/opal_t
6.13=Reika-GeoStrata/assets/geostrata/textures/blocks/opal_f
7.13=Reika-GeoStrata/assets/geostrata/textures/blocks/opal_e
8.13=Reika-GeoStrata/assets/geostrata/textures/blocks/opal_i

1.14=Reika-GeoStrata/assets/geostrata/textures/blocks/peridotite
2.14=Reika-GeoStrata/assets/geostrata/textures/blocks/peridotite_c
3.14=Reika-GeoStrata/assets/geostrata/textures/blocks/peridotite_b
4.14=Reika-GeoStrata/assets/geostrata/textures/blocks/peridotite_r
5.14=Reika-GeoStrata/assets/geostrata/textures/blocks/peridotite_t
6.14=Reika-GeoStrata/assets/geostrata/textures/blocks/peridotite_f
7.14=Reika-GeoStrata/assets/geostrata/textures/blocks/peridotite_e
8.14=Reika-GeoStrata/assets/geostrata/textures/blocks/peridotite_i

1.15=Reika-GeoStrata/assets/geostrata/textures/blocks/pumice
2.15=Reika-GeoStrata/assets/geostrata/textures/blocks/pumice_c
3.15=Reika-GeoStrata/assets/geostrata/textures/blocks/pumice_b
4.15=Reika-GeoStrata/assets/geostrata/textures/blocks/pumice_r
5.15=Reika-GeoStrata/assets/geostrata/textures/blocks/pumice_t
6.15=Reika-GeoStrata/assets/geostrata/textures/blocks/pumice_f
7.15=Reika-GeoStrata/assets/geostrata/textures/blocks/pumice_e
8.15=Reika-GeoStrata/assets/geostrata/textures/blocks/pumice_i

1.16=Reika-GeoStrata/assets/geostrata/textures/blocks/quartz
2.16=Reika-GeoStrata/assets/geostrata/textures/blocks/quartz_c
3.16=Reika-GeoStrata/assets/geostrata/textures/blocks/quartz_b
4.16=Reika-GeoStrata/assets/geostrata/textures/blocks/quartz_r
5.16=Reika-GeoStrata/assets/geostrata/textures/blocks/quartz_t
6.16=Reika-GeoStrata/assets/geostrata/textures/blocks/quartz_f
7.16=Reika-GeoStrata/assets/geostrata/textures/blocks/quartz_e
8.16=Reika-GeoStrata/assets/geostrata/textures/blocks/quartz_i

9.1=Reika-GeoStrata/assets/geostrata/textures/blocks/sandstone
10.1=Reika-GeoStrata/assets/geostrata/textures/blocks/sandstone_c
11.1=Reika-GeoStrata/assets/geostrata/textures/blocks/sandstone_b
12.1=Reika-GeoStrata/assets/geostrata/textures/blocks/sandstone_r
13.1=Reika-GeoStrata/assets/geostrata/textures/blocks/sandstone_t
14.1=Reika-GeoStrata/assets/geostrata/textures/blocks/sandstone_f
15.1=Reika-GeoStrata/assets/geostrata/textures/blocks/sandstone_e
16.1=Reika-GeoStrata/assets/geostrata/textures/blocks/sandstone_i

9.2=Reika-GeoStrata/assets/geostrata/textures/blocks/schist
10.2=Reika-GeoStrata/assets/geostrata/textures/blocks/schist_c
11.2=Reika-GeoStrata/assets/geostrata/textures/blocks/schist_b
12.2=Reika-GeoStrata/assets/geostrata/textures/blocks/schist_r
13.2=Reika-GeoStrata/assets/geostrata/textures/blocks/schist_t
14.2=Reika-GeoStrata/assets/geostrata/textures/blocks/schist_f
15.2=Reika-GeoStrata/assets/geostrata/textures/blocks/schist_e
16.2=Reika-GeoStrata/assets/geostrata/textures/blocks/schist_i

9.3=Reika-GeoStrata/assets/geostrata/textures/blocks/shale
10.3=Reika-GeoStrata/assets/geostrata/textures/blocks/shale_c
11.3=Reika-GeoStrata/assets/geostrata/textures/blocks/shale_b
12.3=Reika-GeoStrata/assets/geostrata/textures/blocks/shale_r
13.3=Reika-GeoStrata/assets/geostrata/textures/blocks/shale_t
14.3=Reika-GeoStrata/assets/geostrata/textures/blocks/shale_f
15.3=Reika-GeoStrata/assets/geostrata/textures/blocks/shale_e
16.3=Reika-GeoStrata/assets/geostrata/textures/blocks/shale_i

9.3=Underground_Biomes/assets/Underground_Biomes/textures/blocks/shale

9.4=Reika-GeoStrata/assets/geostrata/textures/blocks/slate
10.4=Reika-GeoStrata/assets/geostrata/textures/blocks/slate_c
11.4=Reika-GeoStrata/assets/geostrata/textures/blocks/slate_b
12.4=Reika-GeoStrata/assets/geostrata/textures/blocks/slate_r
13.4=Reika-GeoStrata/assets/geostrata/textures/blocks/slate_t
14.4=Reika-GeoStrata/assets/geostrata/textures/blocks/slate_f
15.4=Reika-GeoStrata/assets/geostrata/textures/blocks/slate_e
16.4=Reika-GeoStrata/assets/geostrata/textures/blocks/slate_i

9.6=Underground_Biomes/assets/Underground_Biomes/textures/blocks/blackGranite
10.6=Underground_Biomes/assets/Underground_Biomes/textures/blocks/blackGraniteCobble
11.6=Underground_Biomes/assets/Underground_Biomes/textures/blocks/blackGraniteBrick

9.7=Underground_Biomes/assets/Underground_Biomes/textures/blocks/blueschist
10.7=Underground_Biomes/assets/Underground_Biomes/textures/blocks/blueschistCobble
11.7=Underground_Biomes/assets/Underground_Biomes/textures/blocks/blueschistBrick

9.8=Underground_Biomes/assets/Underground_Biomes/textures/blocks/dacite
10.8=Underground_Biomes/assets/Underground_Biomes/textures/blocks/daciteCobble
11.8=Underground_Biomes/assets/Underground_Biomes/textures/blocks/daciteBrick

9.9=Underground_Biomes/assets/Underground_Biomes/textures/blocks/eclogite
10.9=Underground_Biomes/assets/Underground_Biomes/textures/blocks/eclogiteCobble
11.9=Underground_Biomes/assets/Underground_Biomes/textures/blocks/eclogiteBrick

9.10=Underground_Biomes/assets/Underground_Biomes/textures/blocks/gabbro
10.10=Underground_Biomes/assets/Underground_Biomes/textures/blocks/gabbroCobble
11.10=Underground_Biomes/assets/Underground_Biomes/textures/blocks/gabbroBrick

9.11=Underground_Biomes/assets/Underground_Biomes/textures/blocks/greenschist
10.11=Underground_Biomes/assets/Underground_Biomes/textures/blocks/greenschistCobble
11.11=Underground_Biomes/assets/Underground_Biomes/textures/blocks/greenschistBrick

9.12=Underground_Biomes/assets/Underground_Biomes/textures/blocks/komatiite
10.12=Underground_Biomes/assets/Underground_Biomes/textures/blocks/komatiiteCobble
11.12=Underground_Biomes/assets/Underground_Biomes/textures/blocks/komatiiteBrick

9.13=Underground_Biomes/assets/Underground_Biomes/textures/blocks/quartzite
10.13=Underground_Biomes/assets/Underground_Biomes/textures/blocks/quartziteCobble
11.13=Underground_Biomes/assets/Underground_Biomes/textures/blocks/quartziteBrick

9.14=Underground_Biomes/assets/Underground_Biomes/textures/blocks/rhyolite
10.14=Underground_Biomes/assets/Underground_Biomes/textures/blocks/rhyoliteCobble
11.14=Underground_Biomes/assets/Underground_Biomes/textures/blocks/rhyoliteBrick

9.15=Underground_Biomes/assets/Underground_Biomes/textures/blocks/soapstone
10.15=Underground_Biomes/assets/Underground_Biomes/textures/blocks/soapstoneCobble
11.15=Underground_Biomes/assets/Underground_Biomes/textures/blocks/soapstoneBrick

13.6=Underground_Biomes/assets/Underground_Biomes/textures/blocks/chalk
13.7=Underground_Biomes/assets/Underground_Biomes/textures/blocks/chert
13.8=Underground_Biomes/assets/Underground_Biomes/textures/blocks/dolomite
13.9=Underground_Biomes/assets/Underground_Biomes/textures/blocks/greywacke
13.10=Underground_Biomes/assets/Underground_Biomes/textures/blocks/siltstone

9.16=PC-MineFactory_Reloaded/assets/minefactoryreloaded/textures/blocks/tile.mfr.decorativestone.black.smooth
10.16=PC-MineFactory_Reloaded/assets/minefactoryreloaded/textures/blocks/tile.mfr.decorativestone.black.cobble
11.16=PC-MineFactory_Reloaded/assets/minefactoryreloaded/textures/blocks/tile.mfr.decorativestone.black.brick.large
12.16=PC-MineFactory_Reloaded/assets/minefactoryreloaded/textures/blocks/tile.mfr.decorativestone.black.paved
13.16=PC-MineFactory_Reloaded/assets/minefactoryreloaded/textures/blocks/tile.mfr.decorativestone.black.gravel
14.16=PC-MineFactory_Reloaded/assets/minefactoryreloaded/textures/blocks/tile.mfr.decorativestone.black.brick.small

16.6=Reika-GeoStrata/assets/geostrata/textures/blocks/emeraldbricks
16.7=Reika-GeoStrata/assets/geostrata/textures/blocks/glowbricks
16.8=Reika-GeoStrata/assets/geostrata/textures/blocks/lapisbricks
16.9=Reika-GeoStrata/assets/geostrata/textures/blocks/obsidibricks
16.10=Reika-GeoStrata/assets/geostrata/textures/blocks/quartzbricks
16.11=Reika-GeoStrata/assets/geostrata/textures/blocks/redbricks
