output=/

1.1=Vanilla_Minecraft/assets/minecraft/textures/blocks/planks_oak
2.1=Vanilla_Minecraft/assets/minecraft/textures/blocks/log_oak_top
3.1=Vanilla_Minecraft/assets/minecraft/textures/blocks/log_oak

3.1=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/logoaksideleft
3.1=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/logoaksideright

1.2=Vanilla_Minecraft/assets/minecraft/textures/blocks/planks_birch
2.2=Vanilla_Minecraft/assets/minecraft/textures/blocks/log_birch_top
3.2=Vanilla_Minecraft/assets/minecraft/textures/blocks/log_birch

1.3=Vanilla_Minecraft/assets/minecraft/textures/blocks/planks_spruce
2.3=Vanilla_Minecraft/assets/minecraft/textures/blocks/log_spruce_top
3.3=Vanilla_Minecraft/assets/minecraft/textures/blocks/log_spruce

1.4=Vanilla_Minecraft/assets/minecraft/textures/blocks/planks_jungle
2.4=Vanilla_Minecraft/assets/minecraft/textures/blocks/log_jungle_top
3.4=Vanilla_Minecraft/assets/minecraft/textures/blocks/log_jungle

1.5=Vanilla_Minecraft/assets/minecraft/textures/blocks/planks_acacia
2.5=Vanilla_Minecraft/assets/minecraft/textures/blocks/log_acacia_top
3.5=Vanilla_Minecraft/assets/minecraft/textures/blocks/log_acacia

1.5=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/plank_acacia
2.5=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/log_acacia_heart
3.5=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/log_acacia_side

1.5=Forestry/assets/forestry/textures/blocks/wood/planks.acacia
2.5=Forestry/assets/forestry/textures/blocks/wood/heart.acacia
3.5=Forestry/assets/forestry/textures/blocks/wood/bark.acacia

1.5=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/planksacacia
2.5=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/logacaciatop
3.5=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/logacaciaside

2.5=Highlands/assets/highlands/textures/blocks/logAcaciaTop
3.5=Highlands/assets/highlands/textures/blocks/logAcaciaSide

1.6=Vanilla_Minecraft/assets/minecraft/textures/blocks/planks_big_oak
2.6=Vanilla_Minecraft/assets/minecraft/textures/blocks/log_big_oak_top
3.6=Vanilla_Minecraft/assets/minecraft/textures/blocks/log_big_oak

1.7=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/plank_cherry
2.7=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/log_cherry_heart
3.7=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/log_cherry_side

1.7=Forestry/assets/forestry/textures/blocks/wood/planks.cherry
2.7=Forestry/assets/forestry/textures/blocks/wood/heart.cherry
3.7=Forestry/assets/forestry/textures/blocks/wood/bark.cherry

1.7=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/planks/Cherry
2.7=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/cherryTrunk
3.7=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/cherryBark

1.8=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/plank_dark
2.8=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/log_dark_heart
3.8=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/log_dark_side

1.9=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/plank_dead
2.9=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/log_dead_heart
3.9=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/log_dead_side

1.10=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/plank_fir
2.10=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/log_fir_heart
3.10=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/log_fir_side

1.10=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/planks/Fir
2.10=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/firTrunk
3.10=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/firBark

1.10=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/planksfir
2.10=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/logfirtop
3.10=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/logfirside
3.10=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/logfirsideleft
3.10=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/logfirsideright

2.10=Highlands/assets/highlands/textures/blocks/logFirTop
3.10=Highlands/assets/highlands/textures/blocks/logFirSide

1.11=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/plank_hellbark
2.11=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/log_hellbark_heart
3.11=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/log_hellbark_side

1.12=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/plank_holy
2.12=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/log_holy_heart
3.12=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/log_holy_side

1.13=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/plank_jacaranda
2.13=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/log_jacaranda_heart
3.13=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/log_jacaranda_side

1.14=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/plank_magic
2.14=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/log_magic_heart
3.14=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/log_magic_side

1.15=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/plank_mangrove
2.15=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/log_mangrove_heart
3.15=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/log_mangrove_side

2.15=Twilight_Forest/assets/twilightforest/textures/blocks/mangrove_top
3.15=Twilight_Forest/assets/twilightforest/textures/blocks/mangrove_side

2.15=Highlands/assets/highlands/textures/blocks/logMangroveTop
3.15=Highlands/assets/highlands/textures/blocks/logMangroveSide

1.16=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/plank_palm
2.16=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/log_palm_heart
3.16=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/log_palm_side

1.16=Forestry/assets/forestry/textures/blocks/wood/planks.palm
2.16=Forestry/assets/forestry/textures/blocks/wood/heart.palm
3.16=Forestry/assets/forestry/textures/blocks/wood/bark.palm

2.16=Highlands/assets/highlands/textures/blocks/logPalmTop
3.16=Highlands/assets/highlands/textures/blocks/logPalmSide

1.16=TeamMet-Atum/assets/atum/textures/blocks/Planks
2.16=TeamMet-Atum/assets/atum/textures/blocks/tree_top
3.16=TeamMet-Atum/assets/atum/textures/blocks/tree_side

4.1=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/plank_pine
5.1=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/log_pine_heart
6.1=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/log_pine_side

4.1=Natura/assets/natura/textures/blocks/pine_planks
5.1=Natura/assets/natura/textures/blocks/pine_heart
6.1=Natura/assets/natura/textures/blocks/pine_bark

4.1=Forestry/assets/forestry/textures/blocks/wood/planks.pine
5.1=Forestry/assets/forestry/textures/blocks/wood/heart.pine
6.1=Forestry/assets/forestry/textures/blocks/wood/bark.pine

4.2=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/plank_redwood
5.2=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/log_redwood_heart
6.2=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/log_redwood_side

4.2=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/planksredwood
5.2=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/logredwoodtop
6.2=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/logredwoodside
6.2=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/logredwoodsideleft
6.2=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/logredwoodsideright

4.2=Natura/assets/natura/textures/blocks/redwood_planks
6.2=Natura/assets/natura/textures/blocks/redwood_bark
6.2=Natura/assets/natura/textures/blocks/redwoodbark_door_top
6.2=Natura/assets/natura/textures/blocks/redwoodbark_door_bottom

5.2=Highlands/assets/highlands/textures/blocks/logRedwoodTop
6.2=Highlands/assets/highlands/textures/blocks/logRedwoodSide

4.3=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/plank_willow
5.3=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/log_willow_heart
6.3=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/log_willow_side

4.3=Natura/assets/natura/textures/blocks/willow_planks
5.3=Natura/assets/natura/textures/blocks/willow_heart
6.3=Natura/assets/natura/textures/blocks/willow_bark

4.3=Forestry/assets/forestry/textures/blocks/wood/planks.willow
5.3=Forestry/assets/forestry/textures/blocks/wood/heart.willow
6.3=Forestry/assets/forestry/textures/blocks/wood/bark.willow

4.4=Natura/assets/natura/textures/blocks/apple_planks
5.4=Natura/assets/natura/textures/blocks/apple_heart
6.4=Natura/assets/natura/textures/blocks/apple_bark

4.4=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/planks/Apple
5.4=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/appleTrunk
6.4=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/appleBark

4.5=Natura/assets/natura/textures/blocks/bloodwood_planks
5.5=Natura/assets/natura/textures/blocks/bloodwood_heart
6.5=Natura/assets/natura/textures/blocks/bloodwood_bark

4.6=Natura/assets/natura/textures/blocks/darkwood_planks
5.6=Natura/assets/natura/textures/blocks/darkwood_heart
6.6=Natura/assets/natura/textures/blocks/darkwood_bark

4.7=Natura/assets/natura/textures/blocks/eucalyptus_planks
5.7=Natura/assets/natura/textures/blocks/eucalyptus_heart
6.7=Natura/assets/natura/textures/blocks/eucalyptus_bark

5.7=Highlands/assets/highlands/textures/blocks/logEucalyptusTop
6.7=Highlands/assets/highlands/textures/blocks/logEucalyptusSide

4.8=Natura/assets/natura/textures/blocks/fusewood_planks
5.8=Natura/assets/natura/textures/blocks/fusewood_heart
6.8=Natura/assets/natura/textures/blocks/fusewood_bark

4.9=Natura/assets/natura/textures/blocks/ghostwood_planks
5.9=Natura/assets/natura/textures/blocks/ghostwood_heart
6.9=Natura/assets/natura/textures/blocks/ghostwood_bark

4.10=Natura/assets/natura/textures/blocks/hopseed_planks
5.10=Natura/assets/natura/textures/blocks/hopseed_heart
6.10=Natura/assets/natura/textures/blocks/hopseed_bark

4.11=Natura/assets/natura/textures/blocks/maple_planks
5.11=Natura/assets/natura/textures/blocks/maple_heart
6.11=Natura/assets/natura/textures/blocks/maple_bark

4.11=Forestry/assets/forestry/textures/blocks/wood/planks.maple
5.11=Forestry/assets/forestry/textures/blocks/wood/heart.maple
6.11=Forestry/assets/forestry/textures/blocks/wood/bark.maple

4.11=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/planks/Maple
5.11=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/mapleTrunk
6.11=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/mapleBark

4.12=Natura/assets/natura/textures/blocks/purpleheart_planks
5.12=Natura/assets/natura/textures/blocks/purpleheart_heart
6.12=Natura/assets/natura/textures/blocks/purpleheart_bark

4.12=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/planks/Purpleheart
5.12=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/purpleheartTrunk
6.12=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/purpleheartBark

4.13=Natura/assets/natura/textures/blocks/sakura_planks
5.13=Natura/assets/natura/textures/blocks/sakura_heart
6.13=Natura/assets/natura/textures/blocks/sakura_bark

4.13=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/plankssakura

4.14=Natura/assets/natura/textures/blocks/silverbell_planks
5.14=Natura/assets/natura/textures/blocks/silverbell_heart
6.14=Natura/assets/natura/textures/blocks/silverbell_bark

4.15=Natura/assets/natura/textures/blocks/tiger_planks
5.15=Natura/assets/natura/textures/blocks/tiger_heart
6.15=Natura/assets/natura/textures/blocks/tiger_bark

5.16=Twilight_Forest/assets/twilightforest/textures/blocks/canopy_top
6.16=Twilight_Forest/assets/twilightforest/textures/blocks/canopy_side

8.1=Twilight_Forest/assets/twilightforest/textures/blocks/oak_top
9.1=Twilight_Forest/assets/twilightforest/textures/blocks/oak_side

8.2=Twilight_Forest/assets/twilightforest/textures/blocks/time_section
9.2=Twilight_Forest/assets/twilightforest/textures/blocks/time_side

8.3=Twilight_Forest/assets/twilightforest/textures/blocks/mine_section
9.3=Twilight_Forest/assets/twilightforest/textures/blocks/mine_side

8.4=Twilight_Forest/assets/twilightforest/textures/blocks/trans_section
9.4=Twilight_Forest/assets/twilightforest/textures/blocks/trans_side

8.5=Twilight_Forest/assets/twilightforest/textures/blocks/sort_section
9.5=Twilight_Forest/assets/twilightforest/textures/blocks/sort_side

8.6=Twilight_Forest/assets/twilightforest/textures/blocks/darkwood_top
9.6=Twilight_Forest/assets/twilightforest/textures/blocks/darkwood_side

7.7=Forestry-Magic_Bees/assets/magicbees/textures/blocks/silverwood

7.7=Thaumcraft_4/assets/thaumcraft/textures/blocks/planks_silverwood
8.7=Thaumcraft_4/assets/thaumcraft/textures/blocks/silverwoodtop
8.7=Thaumcraft_4/assets/thaumcraft/textures/blocks/silverwoodknottop
9.7=Thaumcraft_4/assets/thaumcraft/textures/blocks/silverwoodside

7.8=Forestry-Magic_Bees/assets/magicbees/textures/blocks/greatwood

7.8=Thaumcraft_4/assets/thaumcraft/textures/blocks/planks_greatwood
8.8=Thaumcraft_4/assets/thaumcraft/textures/blocks/greatwoodtop
9.8=Thaumcraft_4/assets/thaumcraft/textures/blocks/greatwoodside

7.9=Dart_Craft/assets/dartcraft/textures/blocks/wood
8.9=Dart_Craft/assets/dartcraft/textures/blocks/logTop
9.9=Dart_Craft/assets/dartcraft/textures/blocks/lodSide

8.11=PC-MineFactory_Reloaded/assets/minefactoryreloaded/textures/blocks/tile.mfr.rubberwood.log.top
9.11=PC-MineFactory_Reloaded/assets/minefactoryreloaded/textures/blocks/tile.mfr.rubberwood.log.side

7.12=Forestry/assets/forestry/textures/blocks/wood/planks.balsa
8.12=Forestry/assets/forestry/textures/blocks/wood/heart.balsa
9.12=Forestry/assets/forestry/textures/blocks/wood/bark.balsa

7.13=Forestry/assets/forestry/textures/blocks/wood/planks.baobab
8.13=Forestry/assets/forestry/textures/blocks/wood/heart.baobab
9.13=Forestry/assets/forestry/textures/blocks/wood/bark.baobab

7.14=Forestry/assets/forestry/textures/blocks/wood/planks.chestnut
8.14=Forestry/assets/forestry/textures/blocks/wood/heart.chestnut
9.14=Forestry/assets/forestry/textures/blocks/wood/bark.chestnut

7.15=Forestry/assets/forestry/textures/blocks/wood/planks.citrus
8.15=Forestry/assets/forestry/textures/blocks/wood/heart.citrus
9.15=Forestry/assets/forestry/textures/blocks/wood/bark.citrus

7.16=Forestry/assets/forestry/textures/blocks/wood/planks.ebony
8.16=Forestry/assets/forestry/textures/blocks/wood/heart.ebony
9.16=Forestry/assets/forestry/textures/blocks/wood/bark.ebony

10.1=Forestry/assets/forestry/textures/blocks/wood/planks.giganteum
11.1=Forestry/assets/forestry/textures/blocks/wood/heart.giganteum
12.1=Forestry/assets/forestry/textures/blocks/wood/bark.giganteum

10.2=Forestry/assets/forestry/textures/blocks/wood/planks.greenheart
11.2=Forestry/assets/forestry/textures/blocks/wood/heart.greenheart
12.2=Forestry/assets/forestry/textures/blocks/wood/bark.greenheart

10.3=Forestry/assets/forestry/textures/blocks/wood/planks.kapok
11.3=Forestry/assets/forestry/textures/blocks/wood/heart.kapok
12.3=Forestry/assets/forestry/textures/blocks/wood/bark.kapok

10.4=Forestry/assets/forestry/textures/blocks/wood/planks.larch
11.4=Forestry/assets/forestry/textures/blocks/wood/heart.larch
12.4=Forestry/assets/forestry/textures/blocks/wood/bark.larch

10.5=Forestry/assets/forestry/textures/blocks/wood/planks.lime
11.5=Forestry/assets/forestry/textures/blocks/wood/heart.lime
12.5=Forestry/assets/forestry/textures/blocks/wood/bark.lime

10.6=Forestry/assets/forestry/textures/blocks/wood/planks.mahoe
11.6=Forestry/assets/forestry/textures/blocks/wood/heart.mahoe
12.6=Forestry/assets/forestry/textures/blocks/wood/bark.mahoe

10.7=Forestry/assets/forestry/textures/blocks/wood/planks.mahogany
11.7=Forestry/assets/forestry/textures/blocks/wood/heart.mahogany
12.7=Forestry/assets/forestry/textures/blocks/wood/bark.mahogany

10.8=Forestry/assets/forestry/textures/blocks/wood/planks.papaya
11.8=Forestry/assets/forestry/textures/blocks/wood/heart.papaya
12.8=Forestry/assets/forestry/textures/blocks/wood/bark.papaya

10.9=Forestry/assets/forestry/textures/blocks/wood/planks.plum
11.9=Forestry/assets/forestry/textures/blocks/wood/heart.plum
12.9=Forestry/assets/forestry/textures/blocks/wood/bark.plum

10.10=Forestry/assets/forestry/textures/blocks/wood/planks.poplar
11.10=Forestry/assets/forestry/textures/blocks/wood/heart.poplar
12.10=Forestry/assets/forestry/textures/blocks/wood/bark.poplar

11.10=Highlands/assets/highlands/textures/blocks/logPoplarTop
12.10=Highlands/assets/highlands/textures/blocks/logPoplarSide

10.11=Forestry/assets/forestry/textures/blocks/wood/planks.sequoia
11.11=Forestry/assets/forestry/textures/blocks/wood/heart.sequoia
12.11=Forestry/assets/forestry/textures/blocks/wood/bark.sequoia

10.12=Forestry/assets/forestry/textures/blocks/wood/planks.teak
11.12=Forestry/assets/forestry/textures/blocks/wood/heart.teak
12.12=Forestry/assets/forestry/textures/blocks/wood/bark.teak

10.13=Forestry/assets/forestry/textures/blocks/wood/planks.walnut
11.13=Forestry/assets/forestry/textures/blocks/wood/heart.walnut
12.13=Forestry/assets/forestry/textures/blocks/wood/bark.walnut

10.14=Forestry/assets/forestry/textures/blocks/wood/planks.wenge
11.14=Forestry/assets/forestry/textures/blocks/wood/heart.wenge
12.14=Forestry/assets/forestry/textures/blocks/wood/bark.wenge

10.15=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/planks/Alder
11.15=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/alderTrunk
12.15=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/alderBark

10.16=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/planks/Ash
11.16=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/ashTrunk
12.16=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/ashBark

11.16=Highlands/assets/highlands/textures/blocks/logAshTop
12.16=Highlands/assets/highlands/textures/blocks/logAshSide

13.1=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/planks/Banana
14.1=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/bananaTrunk
15.1=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/bananaBark

13.2=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/planks/Beech
14.2=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/beechTrunk
15.2=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/beechBark

13.3=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/planks/Box
14.3=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/boxTrunk
15.3=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/boxBark

13.4=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/planks/Brazilwood
14.4=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/brazilwoodTrunk
15.4=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/brazilwoodBark

13.5=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/planks/Butternut
14.5=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/butternutTrunk
15.5=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/butternutBark

13.6=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/planks/Cedar
14.6=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/cedarTrunk
15.6=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/cedarBark

13.7=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/planks/Cinnamon
14.7=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/cinnamonTrunk
15.7=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/cinnamonBark

13.8=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/planks/Cypress
14.8=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/cypressTrunk
15.8=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/cypressBark

13.9=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/planks/Elder
14.9=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/elderTrunk
15.9=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/elderBark

13.10=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/planks/Elm
14.10=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/elmTrunk
15.10=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/elmBark

13.11=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/planks/Fig
14.11=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/figTrunk
15.11=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/figBark

13.12=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/planks/Gingko
14.12=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/gingkoTrunk
15.12=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/gingkoBark

13.13=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/planks/Hawthorn
14.13=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/hawthornTrunk
15.13=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/hawthornBark

13.14=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/planks/Hazel
14.14=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/hazelTrunk
15.14=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/hazelBark

13.15=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/planks/Hemlock
14.15=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/hemlockTrunk
15.15=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/hemlockBark

13.16=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/planks/Hickory
14.16=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/hickoryTrunk
15.16=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/hickoryBark