output=/

1.1=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/planks/Holly
2.1=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/hollyTrunk
3.1=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/hollyBark

1.2=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/planks/Hornbeam
2.2=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/hornbeamTrunk
3.2=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/hornbeamBark

1.3=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/planks/Iroko
2.3=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/irokoTrunk
3.3=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/irokoBark

1.4=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/planks/Locust
2.4=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/locustTrunk
3.4=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/locustBark

1.5=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/planks/Logwoog
2.5=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/logwoogTrunk
3.5=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/logwoogBark

1.6=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/planks/Maclura
2.6=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/macluraTrunk
3.6=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/macluraBark

1.7=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/planks/Olive
2.7=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/oliveTrunk
3.7=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/oliveBark

1.8=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/planks/Pear
2.8=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/pearTrunk
3.8=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/pearBark

1.9=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/planks/Pinkivory
2.9=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/pinkivoryTrunk
3.9=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/pinkivoryBark

1.10=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/planks/Rosewood
2.10=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/rosewoodTrunk
3.10=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/rosewoodBark

1.11=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/planks/Rowan
2.11=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/rowanTrunk
3.11=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/rowanBark

1.12=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/planks/Sweetgum
2.12=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/sweetgumTrunk
3.12=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/sweetgumBark

1.13=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/planks/Syzgium
2.13=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/syzgiumTrunk
3.13=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/syzgiumBark

1.14=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/planks/Whitebeam
2.14=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/whitebeamTrunk
3.14=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/whitebeamBark

1.15=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/planks/Yew
2.15=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/yewTrunk
3.15=Forestry-Binnie_Mods/assets/extratrees/textures/blocks/logs/yewBark

2.16=Highlands/assets/highlands/textures/blocks/logIronwoodTop
3.16=Highlands/assets/highlands/textures/blocks/logIronwoodSide

4.1=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/oaktopleft
5.1=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/oakbottomleft
6.1=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/oaksideleft
4.2=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/oaktopright
5.2=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/oakbottomright
6.2=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/oaksideright

4.3=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/firtopleft
5.3=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/firbottomleft
6.3=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/firsideleft
4.4=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/firtopright
5.4=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/firbottomright
6.4=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/firsideright

4.5=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/redwoodtopleft
5.5=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/redwoodbottomleft
6.5=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/redwoodsideleft
4.6=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/redwoodtopright
5.6=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/redwoodbottomright
6.6=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/redwoodsideright

4.7=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/planksautumn
5.7=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/logautumntop
6.7=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/logautumnside

5.8=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/logsakuratop
6.8=Extrabiomes_XL/assets/extrabiomesxl/textures/blocks/logsakuraside

4.9=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/bamboothatching
5.9=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/bambootop
6.9=Biomes-O-Plenty/assets/biomesoplenty/textures/blocks/bamboo